* {
    font-family: 'Gabarito', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
nav {

    display: flex;
    max-height: 700px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.navh {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
    gap: 10px;
}

.navh .icon {
    width: 50px;
    height: 50px;
    background-color: rgb(40, 94, 76);
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(204, 204, 204);
    border-radius: 50%;

}

.text h2 {
    font-size: 30px;
}

.text span {
    color: rgb(55, 160, 125);
    font-size: 14px;
}

.navmenu {
    padding-top: 50px;
    padding-bottom: 20px;
    max-width: 40%;
    display: flex;
    gap: 35px;

}
.navmenu button a{
    border: 0px;
}
.navmenu button {
    border: 0px;
    background-color: white;
    font-size: 16px;
}

.navmenu button span {
    color: rgb(40, 94, 76);
}

.blogsing {
    background-image: url(https://preview.colorlib.com/theme/monarch/images/bg_1.jpg.webp);
height: 400px;
width: 100%;
background-position: center;
}
.blogsing h1{
    font-size: 36px;
   color: black;
   display: flex;
  justify-content: center;
 padding-top: 150px;
}
.cardscont{
    margin-left: 10%;
    width: 80%;
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.cards{
    width: 300px;
    height: 380px;
    position: relative;
    background-color: rgb(191, 216, 216);
   
    
}
.cards img{
   width: 300px;
    height: 200px;
    object-fit: cover;
    
    
}
.cards .date{
    background-color: rgb(110, 214, 181);
   
    padding: 10px 25px;
    position: absolute;
    top: 45%;
    left: 20%;
    border-radius: 12px;
    
}
.cards .txt{
    padding-top: 30px;
    padding-left: 5px;
    color: rgb(122, 122, 122);
    font-size: 18px;
}
.cards .txt h4:hover{
   color: rgb(48, 70, 80);
}
.cards .txt p{
    padding-top: 10px;
    text-align: left;
}



footer {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

   position: relative;
   min-width: 1600px;   
}

.footertop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
    padding-top: 100px;
    padding-bottom: 60px;
    
}
.fmon{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 40px;
}
.fcon{

}
.fconic{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 70px;

}
.fconic div{
    font-size: 22px;
    width: 50px;
    height: 50px;
    background-color: rgb(175, 186, 187);
    display: grid;
    justify-content: center;
    align-items: center;
}
.fnav{

}
.fnavtext{

    display: flex;
    flex-direction: row;
    gap:100px;
    padding-top: 30px;
    padding-bottom: 85px;
}
.fnavtext ul{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.fnavtext ul > li{
    transition: .2s;
}
.fnavtext ul > li:hover{
cursor: pointer;
}
.footbot{
    position: relative;
}
.footerbot{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}
@media only screen and (max-width:1200px) {
    .cardscont{
       width: 100vh;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    
}